KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-local-only

GATEWAY_BOOTSTRAP_PORT=8080
GATEWAY_BANKING_PORT=8443
BACKEND_MTLS_PORT=8080

GATEWAY_BOOTSTRAP_CONFIG=../api-gateway/krakend-bootstrap.json
GATEWAY_BANKING_CONFIG=../api-gateway/krakend-banking.json
GATEWAY_SERVER_CERT=../pki/local-ca/runtime/gateway-server.crt
GATEWAY_SERVER_KEY=../pki/local-ca/runtime/gateway-server.key
GATEWAY_CLIENT_CERT=../pki/local-ca/runtime/gateway-client.crt
GATEWAY_CLIENT_KEY=../pki/local-ca/runtime/gateway-client.key
GATEWAY_MOBILE_TRUST_ANCHOR=../pki/local-ca/trust/issuing-ca.crt

BACKEND_SERVER_KEY_STORE=../pki/local-ca/runtime/backend-server.p12
BACKEND_SERVER_KEY_STORE_PASSWORD=changeit
BACKEND_TRUST_STORE=../pki/local-ca/runtime/backend-truststore.p12
BACKEND_TRUST_STORE_PASSWORD=changeit
BACKEND_SSL_CLIENT_AUTH=NEED
